///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
$o-font-size-base-touch: 15px;

// Colors
$o-brand-primary: $o-color-pink;
$o-brand-optional: #00a09d;
$o-brand-secondary: #8f8f8f;
$o-brand-lightsecondary: $o-color-silver;

$o-main-text-color: #666666;

$o-list-footer-bg-color: white;

// Layout
$o-statbutton-height: 44px;
$o-statbutton-vpadding: 0px;
$o-statbutton-spacing: 6px;

$o-navbar-height: 46px;

// Home menu
$o-home-menu-container-size: 850px;
$o-home-studio-menu-shadow: 0 1px 0 rgba(black, 0.45);
