//------------------------------------------------------------------------------
// Checkboxes
//------------------------------------------------------------------------------
div.o_checkbox {
    $o-checkbox-size: 15px;

    display: inline-block;
    position: relative;
    vertical-align: sub;

    > input {
        width: $o-checkbox-size;
        height: $o-checkbox-size;
        margin: 0; // bootstrap override

        opacity: 0;
        @include o-position-absolute;
        cursor: pointer;

        @media print {
            opacity: 1; // printing hides background so show real mark
        }

        + span {
            display: block;
            width: $o-checkbox-size;
            height: $o-checkbox-size;
            border: 1px solid $o-brand-secondary;
            background-color: white;
        }

        &:checked + span {
            background-repeat: no-repeat;
            background-image: url(../img/checked.svg);
            background-position: center center;
        }

        &:disabled + span {
            border: 1px solid $gray-lighter-darker;
        }

        &:focus + span {
            outline: 1px solid $o-brand-optional;
        }
    }
}
