
.o_sign_document {
    height: 100%;

    > header {
        flex: 0 0 auto;
        height: $nav-link-height;
        background-color: $o-brand-lightsecondary;
        > div {
            height: 100%;
            display: flex;
            align-items: center;
            a {
                flex: 0 0 auto;
                > img {
                    height: $nav-link-height - 10;
                }
            }

            .o_sign_header_instruction {
                font-size: 1.2em;
                flex: 1 1 auto;
            }
        }
    }

    ~ .modal .modal-content {
        border-radius: 0;
        border: none;

        .btn {
            border-radius: 0;
            border: none;
            color: $o-brand-primary;
        }
        .btn-primary {
            background-color: $o-brand-primary;
            color: white;
        }

        .modal-header {
            background-color: $o-brand-odoo;
            color: #fff;
            .modal-title {
                line-height: 1;
                color: #fff;
                .o_subtitle {
                    margin-left: 0px;
                }
            }
            .text-muted {
                color: #fff;
            }
            .close {
                color: #fff;
                opacity: 1;
                text-shadow: none;
            }
        }

        .modal-body {
            color: $o-main-text-color;
            .o_thankyou_message {
                margin-top: 14px;
            }
            .o_promote_esign {
                background-color: $o-brand-lightsecondary;
                margin-top: 40px;
                padding: 0 0 10px 0;
                h4 {
                    color: $o-brand-odoo;
                }
                img {
                    padding-top: 20px;
                    width: 90px;
                }
            }
        }

        .modal-footer {
            border-top: none;
            text-align: left;
        }
    }
}
