
.o_sign_document {
    height: 100%;

    > header {
        flex: 0 0 auto;
        height: $nav-link-height;
        background-color: $o-brand-lightsecondary;
        > div {
            height: 100%;
            display: flex;
            align-items: center;
            a {
                flex: 0 0 auto;
                > img {
                    height: $nav-link-height;
                }
            }

            .o_sign_header_instruction {
                font-size: 1.2em;
                flex: 1 1 auto;
            }
        }
    }

    ~ .modal .modal-content {
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

        .btn {
            border-radius: 0;
            border: none;
        }
        .btn-primary {
            background-color: $o-brand-primary;
            color: white;
        }

        .modal-header {
            border-top-left-radius: 0.26rem;
            border-top-right-radius: 0.26rem;
            background-color: $o-brand-odoo;
            color: #fff;
            .modal-title {
                line-height: 1;
                color: #fff;
            }
            .text-muted {
                color: #fff !important;
            }
            .close {
                color: #fff;
                opacity: 1;
                text-shadow: none;
            }
        }

        .modal-body {
            color: $o-main-text-color;
            .o_thankyou_message {
                margin-top: 14px;
            }
            .o_thankyou_link {
                margin-top: 25px;
                img {
                    width: 30px;
                }
                a {
                    color: $o-main-text-color;
                    &:hover {
                        text-decoration: none;
                        color: $o-brand-primary;
                    }
                }
            }
        }

        .modal-footer {
            border-top: none;
            text-align: left;
            &:empty {
                padding: 0px;
            }
        }
    }
}
