.o_kanban_view.o_kanban_dashboard.o_subscription_kanban {

    .o_kanban_record {
        @include o-flex-display;
        position: relative;
    }

    .o_subscription_kanban_main {
        @include o-flex(0, 0, auto);
        padding: $o-horizontal-padding;
        width: 70%; // for IE11 overflow issue

        // give space for manage section at the bottom
        margin-bottom: $o-horizontal-padding/2 + 19px;

        .o_kanban_card_content {
            font-size: 12px;
            .o_primary {
                font-size: larger;
            }
        }

        .o_subscription_kanban_manage {
            .o_kanban_manage_toggle_button {
                font-size: 18px;
                padding: $o-horizontal-padding/2 $o-horizontal-padding;
            }
        }
        .o_kanban_card_manage_pane .o_kanban_card_manage_title {
            margin: 0;
        }
    }

    .o_subscription_kanban_boxes {
        width: 30%;
        @include o-flex(0, 0, auto);

        @include o-flex-display;
        @include o-flex-flow(column, nowrap);

        > a:hover {
            text-decoration: none;
        }

        .o_value {
            font-size: x-large;
            color: white;
            display: block;
        }
        .o_label {
            color: white;
        }

        .o_subscription_kanban_box {
            position: relative;
            text-align: center;
            padding: 15px 0 15px 0;
            @include o-flex(1, 1, auto);
            @include o-flex-display;
            @include o-align-items(center);
            @include o-flex-flow(column, nowrap);
            @include o-justify-content(center);
        }
        .o_subscription_kanban_box:nth-child(even) {
            background-color: grey;
        }
        .o_subscription_kanban_box:nth-child(odd) {
            background-color: $o-brand-optional;
        }
    }
}
