// "Account Financial Report" Variables
$o-afr-indent-base: 12px;
$o-afr-cell-horizontal: 10px;
$o-afr-cell-top: 4px;
$o-afr-cell-bottom: 3px;


// Control panel dropdowns
// -----------------------------------------
.o_foldable_menu {
    &.o_closed_menu {
        display: none;
    }
    .o_open_menu {
        display: block;
    }
}

.o_account_report_search {
    margin: 5px 10px 10px;

    .o_account_report_select {
        min-width: 100px;
    }
}

// Summary to be edited
// -----------------------------------------
.o_account_reports_summary {
    display: inline-block;
    position: relative;

    .o_account_report_summary {
        padding: 10px 0;

        &, > span, .o_input, .o_account_reports_edit_summary_pencil {
            transition: all .2s ease 0s;
        }
        > span {
            padding: 10px 0;
            display: block;
            white-space: pre-wrap;
            line-height: 1;
        }
    }

    .o_input {
        border: none;
        padding: 10px;
    }

    .o_account_reports_edit_summary_pencil {
        @include o-position-absolute(22px, $left: 5px);
        visibility: hidden;
        opacity: 0;
    }

    &:hover {
        .o_account_reports_edit_summary_pencil {
            visibility: visible;
            opacity: 1;
        }

        .o_account_report_summary .o_input, .o_account_report_summary span {
            padding-left: 25px;
            padding-right: 0;
        }
    }
}

.o_account_reports_summary_edit {
    padding-bottom: 25px;
    padding-top: 10px;

    textarea {
        border: 1px solid gray('600');
        resize: vertical;
        width: 100%;
    }
}

// Print mode report summary
// -----------------------------------------
p.o_account_reports_contact_info {
    min-height: 30px;
}

// Account reports,  main block
// -----------------------------------------
.o_account_reports_body {
    text-align: center;
    /* fix thead overlapping. Due to this 'page-break-inside:avoid' unable to work*/
    .o_account_reports_no_print {
        overflow: auto;
    }
}

.o_account_reports_page {
    direction: ltr;
    background-color: $o-view-background-color;
    color: $o-main-text-color;
    text-align: left;
    padding-top: 20px;

    &.o_account_reports_no_print:not(.o_account_reports_followup) {
        box-shadow: 0 2px 16px -5px #858585;
        display: inline-block;
        padding-bottom: $o-horizontal-padding*3;

        @include media-breakpoint-up(md) {
            margin: $o-horizontal-padding auto;
            border: 1px solid gray('300');
            min-width: 800px;
        }

        @include media-breakpoint-up(xl) {
            margin: $o-horizontal-padding auto;
            max-width: map-get($grid-breakpoints, 'xl');
        }

    }

    .o_account_reports_table {
        white-space: nowrap;
        border-collapse: separate;
        width: 100%;
    }

    // Inside form-view (o_account_reports_followup)
    &.o_account_reports_followup {
        .o_input {
            width: 100%;
        }

        .o_account_reports_summary {
            .o_account_reports_edit_summary_pencil {
                top: 12px;
            }

            .o_account_report_summary {
                padding-top: 0;
                 > span {
                    padding-top: 0
                }
            }
        }
    }

    // Force mouse cursor
    a, .js_account_report_foldable, div.o_account_reports_summary, .o_account_reports_web_action, .changeTrust,
    span.o_account_reports_web_action, div.o_account_reports_saved_summary span,
    td.o_account_reports_unfoldable, td.o_account_reports_foldable, span.partner_id, span.move_line_id, input[type=checkbox],
    .o_account_reports_footnote_icons {
        cursor: pointer;
    }

    div.o_account_reports_saved_summary {
        padding-left: 5px;
    }

    .print_only {
        display: none;
    }

    // Footer notes
    // ------------------------------------------------
    .js_account_report_footnotes {
        p.footnote {
            position: relative;
            padding-right: 20px;
            transition: padding 0.2s ease 0s;

            &:first-child {
                margin-top: 32px;
            }

            .text {
                white-space: pre-wrap;
                font-style: italic;
            }

            .o_account_reports_footnote_icons {
                visibility: hidden;
                @include o-position-absolute(0, $left:0);
            }

            &:hover {
                padding-left: 20px;
                padding-right: 0;

                .o_account_reports_footnote_icons {
                    visibility: visible;
                }
            }
        }
    }


    // Table main rules
    // ------------------------------------------------
    th.o_account_report_column_header {
        white-space: normal;
    }

    td, th {
        padding-right: $o-afr-cell-horizontal;
        padding-top: $o-afr-cell-top;
        padding-bottom: $o-afr-cell-bottom;

        &:last-child {
            padding-right: 5px;
        }

        &.o_account_report_line {
            white-space: nowrap;
        }
    }

    .o_reports_date_to {
        margin-left: 20px;
    }

    .number, .o_account_report_column_value {
        text-align: right;

        @include media-breakpoint-down(lg) {
            width: 1%;
        }
    }

    .date {
        text-align: center;
    }


    // Levels defaults design
    // ------------------------------------------------

    // Set the default lines style
    .o_account_reports_default_style td {
        border: none;
        border-top: 1px solid gray('300');
    }

    .o_account_reports_load_more .account_report_line_name {
        color: $link-color;
        cursor: pointer;
    }

    // Assign default style from level 2 to 9
    @for $i from 2 through 9 {
        .o_account_reports_level#{$i} {
            @extend .o_account_reports_default_style;
        }
    }


    // :hover state design
    // ------------------------------------------------

    // Hover State from level 1 to 9
    @for $i from 1 through 9 {
        tr.o_account_reports_level#{$i}:hover{
            background-color: gray('200');
        }
    }

    // Lines inside foldable elements
    .o_js_account_report_inner_row,
    .o_js_account_report_parent_row_unfolded {
        &:hover {
            background-color: darken(gray('200'), 3%);
        }
    }


    // Indentation
    // ------------------------------------------------

    // Set the indentation from level 2 to 9
    // (levels 0 and 1 don't have indentation)
    @for $i from 2 through 9 {
        .o_account_reports_level#{$i} {
            > td:first-child {
                padding-left: $o-afr-indent-base * ($i - 1);
            }

            &.total > td:first-child {
                padding-left: $o-afr-indent-base * ($i - 2);
            }
        }

        .o_account_reports_domain_line_#{$i} {
            margin-left: $o-afr-indent-base * ($i - 2);
        }
    }

    // Set an arbitrary indentation for elements inside foldable sections
    tr.o_account_reports_domain_total:not(.o_account_reports_level0) {
        td:first-child span.account_report_line_name {
            margin-left: $o-afr-indent-base * 2;
        }
    }
    tr.o_account_reports_initial_balance > td > span:last-child {
        margin-left: $o-afr-indent-base * 2;
    }


    // Totals and Sub-totals design
    // ------------------------------------------------

    // All Totals, generic rules
    tr.total, tr.o_account_reports_domain_total {
        font-style: italic;
        font-weight: 500;
        vertical-align: top;

        > td  {
            padding-bottom: 6px;
        }
    }

    // Sub-totals when inside foldable
    tr.o_js_account_report_inner_row.o_account_reports_domain_total td {
        border-top-style: hidden;
        padding-bottom: 4px;
        padding-right: 0;

        > span {
            display: block;
            padding-top: $o-afr-cell-top;
            padding-right: 5px;
            border-top: 1px solid gray('300');
        }
    }

    // Totals that close sections
    tr.o_account_reports_level0.o_account_reports_domain_total td {
        padding-right: 0;

        span.account_report_line_name, span.o_account_report_column_value {
            padding: $o-afr-cell-top $o-afr-cell-horizontal;
            display: block;
            border: 1px hidden gray('700');
            border-top-style: solid;
        }

        &:last-child > span {
            padding-right: 5px;
        }

        &:first-child > span {
            padding-left: 5px;
        }
    }

    // Totals that close sub-sections
    tr.o_account_reports_level1.total td,
    tr.o_account_reports_level2.total td {
        border: 1px hidden gray('700');
        border-top-style: solid;
    }

    tr.o_account_reports_level1.total td{
        padding-bottom: 25px;
    }

    tr.o_account_reports_level2.total td {
        border-color: $body-color;
    }


    // Titles (sections and sub-sections)
    // -----------------------------------------------

    // Titles, general typography
    tr.o_account_reports_level0,
    tr.o_account_reports_level1 {
        color: $headings-color;
        font-size: 14px;
        font-weight: 500;

        td {
            padding-bottom: 0;
        }
    }

    // Spot sections titles
    tr.o_account_reports_level0 {
        font-size: 17px;
    }
    tr.o_account_reports_level1 {
        font-size: 15px;
    }

    // level2 totals close sub-sections
    tr.o_account_reports_level2.total {
        color: $headings-color;
    }


    // Vertical margins between sections
    // -----------------------------------------------

    // To identify the beginning of a sub-section, let's spot
    // a level1 immediately following a level0 or a level2.
    tr.o_account_reports_level0,
    tr.o_account_reports_level1:not(.total),
    tr.o_account_reports_level2:not(.total) {
        + tr.o_account_reports_level1:not(.total) td {
            padding-top: 5px;
        }
    }
    tr.o_account_reports_level1 td {
        padding-top: 15px;
    }

    // Refine margins for line0(s)
    tr.o_account_reports_level0  {
        &:not(:first-child) td {
            padding-top: 30px;
        }

        + tr.o_account_reports_level0 td {
            padding-top: 40px;
        }
    }


    // Specific components
    // -----------------------------------------------
    tr.hierarchy_total {
        font-weight: 500;
    }

    b.o_account_reports_footnote_sup a {
        color: $o-main-text-color;
    }


    // Foldable lines
    // -----------------------------------------
    .js_account_report_foldable {
        font-weight: 500;
        color: $headings-color;
    }

    .o_js_account_report_inner_row td {
        border-top: 1px solid gray('300')

        &:last-child {
            padding-right: 5px;
        }

        .dropdown {
            display: inline-block;
        }
    }

    .o_js_account_report_parent_row_unfolded, .o_js_account_report_inner_row {
        background-color: gray('200');
    }

    .folded .o_journal_entries {
        display: none;
    }

    .o_account_reports_caret_icon {
        margin-left: -10px;
        position: absolute;

        .fa-caret-down {
            margin-left: -1px;
        }
    }

    .o_js_account_report_parent_row_unfolded td + td span {
        visibility: hidden;
    }

    // Filters lines
    // -----------------------------------------
    .o_account_reports_filter_input_wrapper {
        position: relative;
        float: right;
        width: 150px;
        margin-top: -47px;
        margin-bottom: 20px;
        float: right;

        .searchIcon {
            position: absolute;
            right: 10px;
        }
    }

    .o_account_reports_filter_input {
        border: none;
        border-bottom: 1px black solid;
    }

    .o_account_reports_filtered_lines {
        display: none;
    }

    // Partners colors, report financial
    // -----------------------------------------
    .trust-partner {
        font-size: 0.8em;
        margin: 0 1px 0 5px;

        &.color-red {
            color: $danger;
        }

        &.color-green {
            color: $success;
        }

        &.color-transparent {
            opacity: 0;
        }

        + .o_account_reports_caret_icon {
            margin-left: -22px;
        }
    }
}
