.o_list_view {
    &.table {
        &, thead, tfoot, td, th {
            border: none;
        }
    }

    thead {
        background-color: @odoo-brand-lightsecondary;
        > tr > th.o_column_sortable:hover {
            background-color: darken(@odoo-brand-lightsecondary, 5%);
        }
    }

    tbody > tr.o_group_header {
        background-color: @odoo-list-group-header-color;
        background-image: none;
        border-top: 1px solid @odoo-brand-lightsecondary;
    }

    //--------------------------------------------------------------------------
    // Editable
    //--------------------------------------------------------------------------
    .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) {
        &.o_required_modifier .o_input { // the border is 2px so the padding has to be reduce so that no flickering
            padding: 3px;
        }
    }
}
