///
/// This file regroups the LESS variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
@odoo-font-size-base-touch: 15px;

// Colors
@odoo-brand-primary: @odoo-color-pink;
@odoo-brand-optional: #00a09d;
@odoo-brand-secondary: #8f8f8f;
@odoo-brand-lightsecondary: @odoo-color-silver;

@odoo-main-text-color: #666666;

@odoo-control-panel-background-color: white;
@odoo-form-lightsecondary: lighten(@odoo-brand-secondary, 25%);

@odoo-list-footer-color: @text-color;
@odoo-list-footer-bg-color: white;

@odoo-tooltip-background-color: @odoo-view-background-color;
@odoo-tooltip-color: @odoo-main-text-color;
@odoo-tooltip-arrow-color: @odoo-main-text-color;

// Layout
@odoo-statbutton-height: 44px;
@odoo-statbutton-vpadding: 0px;
@odoo-statbutton-spacing: 6px;

@odoo-navbar-height: 46px;
@odoo-navbar-inverse-link-hover-bg: darken(@odoo-brand-primary, 10%);

// Needed for having no spacing between sheet and mail body in mass_mailing:
// Different required cancel paddings between web and web_enterprise
@odoo-sheet-cancel-tpadding: @odoo-horizontal-padding;
@odoo-sheet-cancel-bpadding: @odoo-horizontal-padding + @odoo-sheet-vpadding;

// Side chatter
@o-chatter-min-width: 530px;
@o-form-sheet-min-width: @container-md; // Safest is @container-md as it is
                                        // the minimal width of the default
                                        // form view design for md/lg sizes
@o-screen-sidechatter-min: @screen-xl-min;
