// This file duplicates some less rules of the form view (mainly for groups),
// and slightly tweaks them. Those rules should be extracted from form_view.less
// and parameterized so that they can be shared between the form view and the
// dashboard view

.o_dashboard_view {
    // Scoped dashboard's variables
    $padding: $o-horizontal-padding;
    $padding-small: $o-horizontal-padding*0.5;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: $o-sheet-vpadding 0;

    > .o_group, .o_subview {
        // By default dashboard entries are full-width...
        flex: 1 1 100%;
        margin: 0 $padding $padding*2;
        padding: $padding;
        border: 1px solid gray('400');
        background-color: white;
        box-shadow: 0px 5px 2px -5px;

        //...trig masonery layout for very large screens
        @include media-breakpoint-up(xxl, $o-extra-grid-breakpoints) {
            flex: 1 1 47%;
        }
    }

    .o_group {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        @for $i from 1 through $o-form-group-cols {
            .o_group_col_#{$i} {
                padding: 0 $padding-small;
                width: 50%;
                flex: 1 1 50%;

                @include media-breakpoint-down(md) {
                    &.o_group {
                        width: 100%;
                        flex: 1 1 100%;
                    }
                }

                @include media-breakpoint-up(lg) {
                    width: floor(100% / 12 * $i);
                    flex: 0 0 floor(100% / 12 * $i);
                }
            }
        }

        .o_group {
            margin: 0 -10px $padding;
        }

        .o_horizontal_separator {
            margin-bottom: $padding-small;
            width: 100%;
            padding: 3px $padding-small;
            border-bottom: 1px solid  gray('300');
            font-size: 1.3em;
            color: gray('600');
        }

        .o_aggregate, .o_formula {
            margin-bottom: $padding-small;
            width: 220px;
            padding-left: 8px;
            border-left: 2px solid grey;

            > label {
                margin-bottom: 0;

                &:empty {
                    display: none;

                    + .o_value {
                        font-size: 2.5em;
                    }
                }
            }

            .o_value {
                font-size: 1.6em;
            }
            .o_comparison {
                font-size: 1em
            }
            .o_variation {
                font-size: 1.6em;
                &.o_positive {
                    color: green;
                }
                &.o_negative {
                    color: red;
                }
            }

        }

        .o_widget, .o_pie_chart {
            margin-bottom: $padding-small;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            flex : 1 1 auto;
            > label:empty {
                display: none;

                + .o_value {
                    font-size: 2.5em;
                }
            }

            @include media-breakpoint-between(vsm, md, $o-extra-grid-breakpoints) {
                width: 100%;
                flex: 1 0 100%;
            }

            @include media-breakpoint-up(lg) {
                flex: 1 1 auto;
                margin-right: -$padding-small*0.5;
            }
        }

        .o_aggregate.o_clickable {
            .o_value, .o_variation {
                // .btn-link(); FIXME
                cursor: pointer;

                &:after {
                    font: $font-size-base/1 "FontAwesome";
                    content: '\f002';
                    vertical-align: middle;
                    margin-left: $padding-small;
                    color: theme-color('primary');
                    opacity: 0;
                }

                &:hover:after {
                    opacity: 1;
                }
            }
        }
    }

    // Let expand first's group columns to fit the card size.
    > .o_group {
        justify-content: stretch;

        > [class*="o_group_col_"] {
            @include media-breakpoint-between(vsm, md, $o-extra-grid-breakpoints) {
                width: 100%;
                flex: 1 0 100%;
            }

            @include media-breakpoint-up(lg) {
                flex: 1 1 auto;
                margin-right: -$padding-small*0.5;
            }
        }
    }

    .o_graph_buttons, .o_pivot_buttons {
        padding: $padding-small $padding;
        margin: (-$padding) (-$padding) $padding-small (-$padding);
        border-bottom: 1px solid gray('400');
    }

    .o_graph_buttons .btn-group + .btn-group.o_dropdown {
        margin-left: 4px;
    }

    .o_subview {
        .o_view_nocontent {
            position: relative;
            flex: 1 1 auto;
            top: inherit;
        }

        .o_view_controller {
            padding-top: $padding-small;
        }

        &[type=graph] {
            padding-bottom: 0;

            .o_view_controller {
                width: 100%;
                min-height: 300px;
                position: relative;

                .o_graph_container {
                    display: flex;
                    @include o-position-absolute(0, 0, 0, 0);
                }
                .o_graph_svg_container {
                    flex: 1 1 auto;
                }
            }
        }
    }
}
