/* Kanban buttons */
.o_kanban_record:hover .o_dial_hidden_button{
    visibility: visible;
}
.o_dial_hidden_button{
    visibility: hidden;
}

.o_dial_stack_icon{
    width: 20% ;
    left: 13px;
    bottom: 3px;
    font-size: 10px;
}

/* Tooltip */
.o_crm_voip_popover{
    max-width: none;
    min-width: 300px;
}

/* Dialing Panel */
@o-dial-panel-bg: white;
@o-dial-panel-width: 235px;
.o_dial {
    .o-flex-display();
    .o-flex-flow(column, nowrap);
    position: fixed;
    width: @o-dial-panel-width;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    font-size: 12px;
    background-color: @o-dial-panel-bg;
    border: 1px solid gray;
    border-radius: 3px;
    z-index: 3;

    @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 100%!important;
        &.o_folded {
            display: none;
        }
    }

    @media print {
        display: none;
    }

    .o_dial_header {
        .o-flex-display();
        .o-flex(0, 0, auto);
        color: white;
        background-color: @odoo-brand-primary;
        padding: 5px;

        @media (max-width: @screen-xs-max) {
            height: @navbar-height;
            .o_dial_title, .o_dial_header_icon {
                font-size: 22px;
            }
        }

        .o_dial_title {
            cursor: pointer;
            .o-flex(1, 1, auto);
            .o-text-overflow();
        }

        .o_dial_header_icon {
            color: white;
            padding: 3px;
            &:hover {
                background-color: darken(@odoo-brand-primary, 10%);
            }
        }
    }

    .o_dial_search_input{
        .o-flex-display();
        .o-flex(0, 0, auto);
        padding: 5px;
        border-bottom-color: rgb(207, 207, 207);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        > span {
            .o-flex(0, 0, auto);
        }
        > input {
            margin-left: 5px;
            height: 20px;
            .o-flex(1, 1, 100%);
        }
    }
    .o_dial_display_pannel{
        .o-flex(1, 1, auto);
        .o-flex-display();
        .o-flex-flow(column, nowrap);

        .o_dial_phonecalls{
            .o-flex(1, 1, auto);
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .o_dial_phonecall {
            position: relative;
            padding: 2px 6px;
            cursor: pointer;
            font-size: 13px;
            margin-bottom: 3px;
            width: 100%;
        }

        .o_dial_phonecall:hover {
          background: #e4dada;
        }

        .o_dial_phonecall:hover .o_dial_state_icon{
            display: none;
        }

        .o_dial_remove_phonecall{
            display: none;
        }

        .o_dial_phonecall:hover .o_dial_remove_phonecall{
            display: inline-block;
        }

        .o_dial_selected_phonecall {
            background-color: #e4dada;
        }

        .o_dial_phonecall_clip {
            display: inline-block;
            width: 26px;
            height: 26px;
            margin-right: 4px;
        }

        .o_dial_phonecall_avatar {
            max-width: 100%;
            max-height: 100%;
        }

        .o_dial_phonecall_partner_name {
            width: 162px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
        }

        .o_dial_buttons{
            .o-flex(0, 0, 100%);
            .o-flex-display();
            .o-flex-flow(row, wrap);

            .o_dial_split_call_button{
                .o-flex(0,0,100%);
                .o-flex-display();
                padding: 2px;

                .o_dial_big_call_button{
                    .o-flex(1,1,auto);
                }

                .o_o_call_dropdown{
                    .o-flex(0,0,auto);
                }
            }

            .o_dial_stop_autocall_button{
                .o-flex(0,0,100%);
                display: none;
                margin: 2px;
            }

            .o_dial_50_button{
                .o-flex(0,0,49%);
                margin: 1px;
            }

            .o_dial_optionalbuttons{
                display: none;
            }
        }
    }

    .o_dial_keypad{
        .o-flex(1, 1, auto);
        .o-flex-display();
        .o-flex-flow(column, nowrap);

        .o_dial_keypad_input_div{
            .o-flex(0, 0, auto);
            width: 100%;
            position: relative;
            text-align: center;

            .o_dial_keypad_input{
                width: 98%;
                border: none;
            }

            .o_dial_keypad_backspace{
                cursor: pointer;
                font-size: 14px;
                position: absolute;
                top: 5px;
                right: 10px;
                .user-select(none);
                @media (max-width: @screen-xs-max) {
                    right: 25px;
                }
            }
        }

        .o_dial_keypad_buttons{
            .o-flex(2, 1, auto);

            .o_dial_keypad_button{
                float: left;
                margin: 1px;
                width: 32%;
                height: 76px;
                font-size: xx-large;
            }
        }

        .o_dial_keypad_call_button{
            margin: 2px;
            width: 98%;
            .o-flex(1, 0, auto);
        }
    }
}

/* Error Message Block UI */

.o_dial .blockMsg{
    left: 0px !important;
    width: 100% !important ;
    color: white !important;
    padding: 1px !important;
    cursor: auto !important;
}

.o_dial .blockOverlay{
    cursor: auto !important;
    background: grey !important;
    opacity: 0.8 !important;
}
